In [12]:
x = input("what's your name?")

what's your name?

## Example of Dynamic Typing

In [13]:
x = 8
type(x)

int

In [14]:
x = '8'
type(x)

str

In [15]:
x = [1,2,3,4,5]
type(x)

list

In [16]:
x = (1,2,3,4,5)
type(x)

tuple

In [18]:
newtuple = ()
newtuple

()

In [19]:
newlist = []
newlist

[]

In [20]:
newlist = list()
newlist

[]

In [21]:
intoffour = 4
type(intoffour)

int

In [22]:
str(intoffour)

'4'

In [23]:
type(str(intoffour))

str

In [2]:
type(input("Enter something:"))

Enter something:4

str

In [3]:
type(input("Enter something:"))

Enter something:4.0

str

In [7]:
print("Hello" + "World")

HelloWorld

In [8]:
print("Hello" + " " + "World")

Hello World

In [11]:
"hello world".upper()

'HELLO WORLD'

In [12]:
"HELLO world".lower()

'hello world'

In [13]:
"hello world".title()

'Hello World'

In [14]:
"hello world".capitalize()

'Hello world'

In [17]:
"       hello world        ".strip()

'hello world'

In [18]:
"hello world".split()

['hello', 'world']

In [19]:
type("hello world".split())

list

In [21]:
mylistofwords = "hello world".split()
mylistofwords

['hello', 'world']

In [37]:
# .split() uses a space (' ') by default, though you can insert other strings to split on
"hello world".split(' ')

['hello', 'world']

In [38]:
# here's an example of splitting on the o's
"hello world".split('o')
# note that the character used to split on is not included in the result

['hell', ' w', 'rld']

In [22]:
#first element in list (same for string)
mylistofwords[0]

'hello'

In [25]:
hellomessage = "hello world"
hellomessage[0]

'h'

In [27]:
# slice up to the 'o' in hello, or up to character 5, not including char #5 (counting from 0)
hellomessage[:5]

'hello'

In [29]:
# slice from the 'o' in hello, or up to character 5, including char #6 (counting from 0)
hellomessage[6:]

'world'

In [36]:
hellomessage[:-6]

'hello'

In [32]:
hellomessage[-5:]

'world'

In [31]:
hellomessage[1:8]

'ello wo'